@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700&family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('./assets/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Extralight.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('./assets/fonts/ClashDisplay-Light.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Light.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./assets/fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Regular.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Medium.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('./assets/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Semibold.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./assets/fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Bold.woff') format('woff'),
    url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-family-1 {
  font-family: 'Inter', sans-serif;
}

.font-family-2 {
  font-family: 'Unica One', cursive;
}

.gradientOne {
  background: linear-gradient(180deg, #903AFF 0%, #FF26B9 100%);
  border-radius: 50%;
}

.gradientTwo {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.text-gradient {
  background: -webkit-linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(180deg, #9A39FF 0%, #FF29B9 100%);
  border-image-slice: 1;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.Toastify__toast {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%) !important;
  color: #fff !important;
}

.Toastify__toast--error .Toastify__icon {
  color: white;
  /* Set the icon color to red or your desired color */
}

:root {
  --toastify-color-success: linear-gradient(95.71deg, rgb(161, 34, 120) 4.63%, rgb(201, 28, 111) 82%);
  color: #ffffff !important;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}